body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-size: cover;
    background-image: url(../IMG/3225.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  img {
    border-radius: 10pc;
    max-width: 100%;
    height: auto;
  }
  
  .contenedor-logo-texto {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    margin-left: 10px;
    z-index: 3;
    bottom: 10px;
    right: 10px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .texto {
    margin-right: 23pc;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    color: white;
    text-shadow: 2px 2px red;
    text-align: center;
    margin-bottom: 0;
  }
  
  .contenido ul {
    margin-top: -4%;
    margin-left: 65%;
    display: flex;
    font-size: medium;
    font-family: 'Lobster Two', cursive;
    list-style-type: none;
  }
  
  .contenido li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 16px;
    font-family: arial;
    padding: 5px;
    margin: 2px;
  }
  
  .login-form {
    max-width: 400px;
    margin: 222px auto;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .login-form h2 {
    text-align: center;
    line-height: 80px;
    margin-top: -20px;
    font-family: 'Lobster Two', cursive;
    text-shadow: red -1px -1px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .login-form input[type="submit"] {
    padding: 10px;
    background-color: #e42a2a;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: red;
    text-align: center;
  }
  
  .button-danger {
    text-align: center;
    padding: 10px;
    margin-bottom: -30px;
  }
  
  a[href="login.html"] {
    background-color: transparent;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #FF0000;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  a[href="login.html"]:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
  
  .nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: #FF0000;
    font-size: 20px;
  }
  
  .button-pss {
    text-align: center;
  }
  
  .button-rgt {
    text-align: center;
    margin-top: 10px;
  }
  